<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.model.Score" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="score_plus" property="scorePlus" jdbcType="INTEGER" />
    <result column="score_subtract" property="scoreSubtract" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="BIGINT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insertScore" parameterType="com.aaa.vo.ScoreVo">
    insert into t_score(id,score_plus,score_subtract,score,unit_id,reason,create_time)
    values(#{id},
    <if test="status == 0">
      #{scoreNum},null,
    </if>
    <if test="status == 1">
      null,#{scoreNum},
    </if>
        #{score},#{unitId},#{reason},#{createTime})
  </insert>
  <select id="selectListScore" resultType="com.aaa.model.Score">
      select * from t_score where unit_id = #{num}
    </select>
  <select id="selectLastId" resultType="java.lang.Long">
    select LAST_INSERT_ID(id) lastId from t_score limit 1,1
  </select>
</mapper>